@import '../util.less';
.deliverWorth{
  color:@font-color;
  .worthList{
    height: 25px;
    margin-bottom: 10px;
    font-size:18px;
  }
  .editPersonBtn{
    height:60px;
    width:60px;
    border-radius: 50%;
  }
  .personList{
    .item,.newItem{
      line-height: 30px;
      margin-bottom: 15px;
      font-size:20px;
      display: flex;
      width:100%;
      justify-content: space-between;
      .personName{
        flex:1;
      }
      .delete,.add{
        width:60px;
        margin-left:30px;
        font-size: 24px;
      }
    }
    .newItem{
      margin-top:30px;
      .personName{
        border:none;
        border-bottom: solid 2px @border-color;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}