@import "./util.less";
.create{
    font-size: 14px;
    text-align: center;
    width:calc(~"100% - 20px");
    margin:0 10px;
    .createItem{
        // border: 1px solid @border-color;
        padding:10px;
        text-align: center;

        .item{
            margin: 30px 0;
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            input{
                height: 30px;
                line-height: 30px;
                width:160px;
                border: solid 2px @border-color;
                font-size: inherit;
            }
            label{
                text-decoration: none;
            }
            #basScale{
                border: 0;
                border-bottom: 2px solid @border-color;
                color:@font-em-color;
                font-style: italic;
                font-weight: bolder;
            }
        }
    }
}